body{
    background-color: lightgreen;
    color:darkred;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label{
    display: block;
}

a{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 1rem;
    margin-right: -4px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}